@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 44% 11%;
    --card: 0 0% 100%;
    --card-foreground: 224 44% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 44% 11%;
    --primary: 229 95% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 28% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 164 70% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 229 95% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 44% 11%;
    --foreground: 0 0% 98%;
    --card: 212 28% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 224 44% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 229 95% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 28% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 212 28% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 164 70% 45%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 28% 16%;
    --input: 212 28% 16%;
    --ring: 229 95% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
